# History files
.Rhistory

# Example code in package build process
*-Ex.R

# R data files from past sessions
.Rdata

# RStudio files
.Rproj.user/
.Rproj.user

*.Rproj

# LaTeX files
*.bbl
*.blg
*.log
*.synctex.gz
*.fff
*.ttt
*.aux
*.nav
*.snm
*.toc
*.vrb
*concordance.tex

shiny/*
*.pdf
